PuiPuiCapaDeInterfaz/PuiPuiCapaDeInterfazFrontOffice/Service References/FachadaInstructoresFrontOffice/FachadaInstructoresFrontOffice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServicioComandoConsultarEvaluacionesInstructorTodos">
        <s:complexType />
      </s:element>
      <s:element name="ServicioComandoConsultarEvaluacionesInstructorTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServicioComandoConsultarEvaluacionesInstructorTodosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioComandoConsultarEvaluacionesInstructorDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_evaluacion_instructor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioComandoConsultarEvaluacionesInstructorDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServicioComandoConsultarEvaluacionesInstructorDetalleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioComandoInsertarEvaluacionesInstructor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="observaciones" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="idcliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idinstructor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="calificacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioComandoInsertarEvaluacionesInstructorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServicioComandoInsertarEvaluacionesInstructorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioComandoModificarEvaluacionesInstructor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="observaciones" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="idcliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idinstructor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="calificacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioComandoModificarEvaluacionesInstructorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServicioComandoModificarEvaluacionesInstructorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorTodosSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioComandoConsultarEvaluacionesInstructorTodos" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorTodosSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioComandoConsultarEvaluacionesInstructorTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioComandoConsultarEvaluacionesInstructorDetalle" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioComandoConsultarEvaluacionesInstructorDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoInsertarEvaluacionesInstructorSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioComandoInsertarEvaluacionesInstructor" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoInsertarEvaluacionesInstructorSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioComandoInsertarEvaluacionesInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoModificarEvaluacionesInstructorSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioComandoModificarEvaluacionesInstructor" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoModificarEvaluacionesInstructorSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioComandoModificarEvaluacionesInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorTodosHttpGetIn" />
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorTodosHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorDetalleHttpGetIn">
    <wsdl:part name="id_evaluacion_instructor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorDetalleHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoInsertarEvaluacionesInstructorHttpGetIn">
    <wsdl:part name="fecha" type="s:string" />
    <wsdl:part name="observaciones" type="s:string" />
    <wsdl:part name="status" type="s:string" />
    <wsdl:part name="idcliente" type="s:string" />
    <wsdl:part name="idinstructor" type="s:string" />
    <wsdl:part name="calificacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoInsertarEvaluacionesInstructorHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoModificarEvaluacionesInstructorHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="fecha" type="s:string" />
    <wsdl:part name="observaciones" type="s:string" />
    <wsdl:part name="status" type="s:string" />
    <wsdl:part name="idcliente" type="s:string" />
    <wsdl:part name="idinstructor" type="s:string" />
    <wsdl:part name="calificacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoModificarEvaluacionesInstructorHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorTodosHttpPostIn" />
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorTodosHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorDetalleHttpPostIn">
    <wsdl:part name="id_evaluacion_instructor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoConsultarEvaluacionesInstructorDetalleHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoInsertarEvaluacionesInstructorHttpPostIn">
    <wsdl:part name="fecha" type="s:string" />
    <wsdl:part name="observaciones" type="s:string" />
    <wsdl:part name="status" type="s:string" />
    <wsdl:part name="idcliente" type="s:string" />
    <wsdl:part name="idinstructor" type="s:string" />
    <wsdl:part name="calificacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoInsertarEvaluacionesInstructorHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoModificarEvaluacionesInstructorHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="fecha" type="s:string" />
    <wsdl:part name="observaciones" type="s:string" />
    <wsdl:part name="status" type="s:string" />
    <wsdl:part name="idcliente" type="s:string" />
    <wsdl:part name="idinstructor" type="s:string" />
    <wsdl:part name="calificacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServicioComandoModificarEvaluacionesInstructorHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="FachadaInstructoresSoap">
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorTodos">
      <wsdl:input message="tns:ServicioComandoConsultarEvaluacionesInstructorTodosSoapIn" />
      <wsdl:output message="tns:ServicioComandoConsultarEvaluacionesInstructorTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorDetalle">
      <wsdl:input message="tns:ServicioComandoConsultarEvaluacionesInstructorDetalleSoapIn" />
      <wsdl:output message="tns:ServicioComandoConsultarEvaluacionesInstructorDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoInsertarEvaluacionesInstructor">
      <wsdl:input message="tns:ServicioComandoInsertarEvaluacionesInstructorSoapIn" />
      <wsdl:output message="tns:ServicioComandoInsertarEvaluacionesInstructorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoModificarEvaluacionesInstructor">
      <wsdl:input message="tns:ServicioComandoModificarEvaluacionesInstructorSoapIn" />
      <wsdl:output message="tns:ServicioComandoModificarEvaluacionesInstructorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FachadaInstructoresHttpGet">
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorTodos">
      <wsdl:input message="tns:ServicioComandoConsultarEvaluacionesInstructorTodosHttpGetIn" />
      <wsdl:output message="tns:ServicioComandoConsultarEvaluacionesInstructorTodosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorDetalle">
      <wsdl:input message="tns:ServicioComandoConsultarEvaluacionesInstructorDetalleHttpGetIn" />
      <wsdl:output message="tns:ServicioComandoConsultarEvaluacionesInstructorDetalleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoInsertarEvaluacionesInstructor">
      <wsdl:input message="tns:ServicioComandoInsertarEvaluacionesInstructorHttpGetIn" />
      <wsdl:output message="tns:ServicioComandoInsertarEvaluacionesInstructorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoModificarEvaluacionesInstructor">
      <wsdl:input message="tns:ServicioComandoModificarEvaluacionesInstructorHttpGetIn" />
      <wsdl:output message="tns:ServicioComandoModificarEvaluacionesInstructorHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FachadaInstructoresHttpPost">
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorTodos">
      <wsdl:input message="tns:ServicioComandoConsultarEvaluacionesInstructorTodosHttpPostIn" />
      <wsdl:output message="tns:ServicioComandoConsultarEvaluacionesInstructorTodosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorDetalle">
      <wsdl:input message="tns:ServicioComandoConsultarEvaluacionesInstructorDetalleHttpPostIn" />
      <wsdl:output message="tns:ServicioComandoConsultarEvaluacionesInstructorDetalleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoInsertarEvaluacionesInstructor">
      <wsdl:input message="tns:ServicioComandoInsertarEvaluacionesInstructorHttpPostIn" />
      <wsdl:output message="tns:ServicioComandoInsertarEvaluacionesInstructorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoModificarEvaluacionesInstructor">
      <wsdl:input message="tns:ServicioComandoModificarEvaluacionesInstructorHttpPostIn" />
      <wsdl:output message="tns:ServicioComandoModificarEvaluacionesInstructorHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FachadaInstructoresSoap" type="tns:FachadaInstructoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorTodos">
      <soap:operation soapAction="http://tempuri.org/ServicioComandoConsultarEvaluacionesInstructorTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorDetalle">
      <soap:operation soapAction="http://tempuri.org/ServicioComandoConsultarEvaluacionesInstructorDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoInsertarEvaluacionesInstructor">
      <soap:operation soapAction="http://tempuri.org/ServicioComandoInsertarEvaluacionesInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoModificarEvaluacionesInstructor">
      <soap:operation soapAction="http://tempuri.org/ServicioComandoModificarEvaluacionesInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FachadaInstructoresSoap12" type="tns:FachadaInstructoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorTodos">
      <soap12:operation soapAction="http://tempuri.org/ServicioComandoConsultarEvaluacionesInstructorTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorDetalle">
      <soap12:operation soapAction="http://tempuri.org/ServicioComandoConsultarEvaluacionesInstructorDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoInsertarEvaluacionesInstructor">
      <soap12:operation soapAction="http://tempuri.org/ServicioComandoInsertarEvaluacionesInstructor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoModificarEvaluacionesInstructor">
      <soap12:operation soapAction="http://tempuri.org/ServicioComandoModificarEvaluacionesInstructor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FachadaInstructoresHttpGet" type="tns:FachadaInstructoresHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorTodos">
      <http:operation location="/ServicioComandoConsultarEvaluacionesInstructorTodos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorDetalle">
      <http:operation location="/ServicioComandoConsultarEvaluacionesInstructorDetalle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoInsertarEvaluacionesInstructor">
      <http:operation location="/ServicioComandoInsertarEvaluacionesInstructor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoModificarEvaluacionesInstructor">
      <http:operation location="/ServicioComandoModificarEvaluacionesInstructor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FachadaInstructoresHttpPost" type="tns:FachadaInstructoresHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorTodos">
      <http:operation location="/ServicioComandoConsultarEvaluacionesInstructorTodos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoConsultarEvaluacionesInstructorDetalle">
      <http:operation location="/ServicioComandoConsultarEvaluacionesInstructorDetalle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoInsertarEvaluacionesInstructor">
      <http:operation location="/ServicioComandoInsertarEvaluacionesInstructor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComandoModificarEvaluacionesInstructor">
      <http:operation location="/ServicioComandoModificarEvaluacionesInstructor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FachadaInstructores">
    <wsdl:port name="FachadaInstructoresSoap" binding="tns:FachadaInstructoresSoap">
      <soap:address location="http://localhost:24057/Servicios/FrontOffice/FachadaInstructoresFrontOffice.asmx" />
    </wsdl:port>
    <wsdl:port name="FachadaInstructoresSoap12" binding="tns:FachadaInstructoresSoap12">
      <soap12:address location="http://localhost:24057/Servicios/FrontOffice/FachadaInstructoresFrontOffice.asmx" />
    </wsdl:port>
    <wsdl:port name="FachadaInstructoresHttpGet" binding="tns:FachadaInstructoresHttpGet">
      <http:address location="http://localhost:24057/Servicios/FrontOffice/FachadaInstructoresFrontOffice.asmx" />
    </wsdl:port>
    <wsdl:port name="FachadaInstructoresHttpPost" binding="tns:FachadaInstructoresHttpPost">
      <http:address location="http://localhost:24057/Servicios/FrontOffice/FachadaInstructoresFrontOffice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>