PuiPuiCapaDeInterfaz/PuiPuiCapaDeInterfazBackOffice/Web References/LogicaMusculo/FachadaMusculos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServicioAgregarMusculo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioAgregarMusculoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServicioAgregarMusculoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioConsultarTodosLosMusculos">
        <s:complexType />
      </s:element>
      <s:element name="ServicioConsultarTodosLosMusculosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServicioConsultarTodosLosMusculosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioDesactivarMusculo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idMusculo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioDesactivarMusculoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServicioDesactivarMusculoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServicioAgregarMusculoSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioAgregarMusculo" />
  </wsdl:message>
  <wsdl:message name="ServicioAgregarMusculoSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioAgregarMusculoResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioConsultarTodosLosMusculosSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioConsultarTodosLosMusculos" />
  </wsdl:message>
  <wsdl:message name="ServicioConsultarTodosLosMusculosSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioConsultarTodosLosMusculosResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioDesactivarMusculoSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioDesactivarMusculo" />
  </wsdl:message>
  <wsdl:message name="ServicioDesactivarMusculoSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioDesactivarMusculoResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioAgregarMusculoHttpGetIn">
    <wsdl:part name="nombre" type="s:string" />
    <wsdl:part name="descripcion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServicioAgregarMusculoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ServicioConsultarTodosLosMusculosHttpGetIn" />
  <wsdl:message name="ServicioConsultarTodosLosMusculosHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ServicioDesactivarMusculoHttpGetIn">
    <wsdl:part name="idMusculo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServicioDesactivarMusculoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ServicioAgregarMusculoHttpPostIn">
    <wsdl:part name="nombre" type="s:string" />
    <wsdl:part name="descripcion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServicioAgregarMusculoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ServicioConsultarTodosLosMusculosHttpPostIn" />
  <wsdl:message name="ServicioConsultarTodosLosMusculosHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ServicioDesactivarMusculoHttpPostIn">
    <wsdl:part name="idMusculo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServicioDesactivarMusculoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="FachadaMusculosSoap">
    <wsdl:operation name="ServicioAgregarMusculo">
      <wsdl:input message="tns:ServicioAgregarMusculoSoapIn" />
      <wsdl:output message="tns:ServicioAgregarMusculoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioConsultarTodosLosMusculos">
      <wsdl:input message="tns:ServicioConsultarTodosLosMusculosSoapIn" />
      <wsdl:output message="tns:ServicioConsultarTodosLosMusculosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioDesactivarMusculo">
      <wsdl:input message="tns:ServicioDesactivarMusculoSoapIn" />
      <wsdl:output message="tns:ServicioDesactivarMusculoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FachadaMusculosHttpGet">
    <wsdl:operation name="ServicioAgregarMusculo">
      <wsdl:input message="tns:ServicioAgregarMusculoHttpGetIn" />
      <wsdl:output message="tns:ServicioAgregarMusculoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioConsultarTodosLosMusculos">
      <wsdl:input message="tns:ServicioConsultarTodosLosMusculosHttpGetIn" />
      <wsdl:output message="tns:ServicioConsultarTodosLosMusculosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioDesactivarMusculo">
      <wsdl:input message="tns:ServicioDesactivarMusculoHttpGetIn" />
      <wsdl:output message="tns:ServicioDesactivarMusculoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FachadaMusculosHttpPost">
    <wsdl:operation name="ServicioAgregarMusculo">
      <wsdl:input message="tns:ServicioAgregarMusculoHttpPostIn" />
      <wsdl:output message="tns:ServicioAgregarMusculoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioConsultarTodosLosMusculos">
      <wsdl:input message="tns:ServicioConsultarTodosLosMusculosHttpPostIn" />
      <wsdl:output message="tns:ServicioConsultarTodosLosMusculosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ServicioDesactivarMusculo">
      <wsdl:input message="tns:ServicioDesactivarMusculoHttpPostIn" />
      <wsdl:output message="tns:ServicioDesactivarMusculoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FachadaMusculosSoap" type="tns:FachadaMusculosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioAgregarMusculo">
      <soap:operation soapAction="http://tempuri.org/ServicioAgregarMusculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioConsultarTodosLosMusculos">
      <soap:operation soapAction="http://tempuri.org/ServicioConsultarTodosLosMusculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioDesactivarMusculo">
      <soap:operation soapAction="http://tempuri.org/ServicioDesactivarMusculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FachadaMusculosSoap12" type="tns:FachadaMusculosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioAgregarMusculo">
      <soap12:operation soapAction="http://tempuri.org/ServicioAgregarMusculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioConsultarTodosLosMusculos">
      <soap12:operation soapAction="http://tempuri.org/ServicioConsultarTodosLosMusculos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioDesactivarMusculo">
      <soap12:operation soapAction="http://tempuri.org/ServicioDesactivarMusculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FachadaMusculosHttpGet" type="tns:FachadaMusculosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ServicioAgregarMusculo">
      <http:operation location="/ServicioAgregarMusculo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioConsultarTodosLosMusculos">
      <http:operation location="/ServicioConsultarTodosLosMusculos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioDesactivarMusculo">
      <http:operation location="/ServicioDesactivarMusculo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FachadaMusculosHttpPost" type="tns:FachadaMusculosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ServicioAgregarMusculo">
      <http:operation location="/ServicioAgregarMusculo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioConsultarTodosLosMusculos">
      <http:operation location="/ServicioConsultarTodosLosMusculos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioDesactivarMusculo">
      <http:operation location="/ServicioDesactivarMusculo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FachadaMusculos">
    <wsdl:port name="FachadaMusculosSoap" binding="tns:FachadaMusculosSoap">
      <soap:address location="http://localhost:24057/Servicios/BackOffice/FachadaMusculos.asmx" />
    </wsdl:port>
    <wsdl:port name="FachadaMusculosSoap12" binding="tns:FachadaMusculosSoap12">
      <soap12:address location="http://localhost:24057/Servicios/BackOffice/FachadaMusculos.asmx" />
    </wsdl:port>
    <wsdl:port name="FachadaMusculosHttpGet" binding="tns:FachadaMusculosHttpGet">
      <http:address location="http://localhost:24057/Servicios/BackOffice/FachadaMusculos.asmx" />
    </wsdl:port>
    <wsdl:port name="FachadaMusculosHttpPost" binding="tns:FachadaMusculosHttpPost">
      <http:address location="http://localhost:24057/Servicios/BackOffice/FachadaMusculos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>